:root {
  --g-btn-color: blueviolet;
}

body {
  background: #232323;
  color: #fff;
}

h1 {
  margin-block-end: 3rem;
  font-size: 2rem;
  text-align: center;
}

#unFlag {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
}
